
<div id="description" class="row">
  <div class="col-md-6">
    <div class="page-header first">
      <h1>Quality Control Test for:</h1>
      <h2 class="text-muted"><a href="{{domain}}" target="_blank">{{domain}}</a></h2>
    </div>
  </div>
  <div class="col-md-6">
    <div class="page-header last">
      <p class="text-muted">Quality control a website:</p>
      <form action="/process?form=the_test" method="POST">
        <div class="input-group">
          <input type="hidden" name="_csrf" value="{{csrf}}">
          <input type="url" name="domain" class="form-control" placeholder="http://www.trailerparkboys.com">
          <span class="input-group-btn">
            <input type="submit" value="Go!" class="btn btn-default">
          </span>
        </div>
      </form>
    </div>
  </div>
</div><!-- /.row -->
<div id="output" class="row">
  <div class="col-md-12">
    <div class="test_output">
      <a href="http://app.validator.pro/" class="btn btn-default" target="_blank">Spell Checker</a>
      <a href="https://addons.mozilla.org/en-US/firefox/addon/popup-alt-attribute/" class="btn btn-default" target="_blank">Alt Tag Firefox Plugin</a>
      <table class="table table-bordered">
        <caption>
          <p class="attention">Attention: If the Contents field is blank, the Element is missing.</p>
          <p class="attention">Attention: If the output of Google Analytics is not "/google_analytics_auto.js", check document manually.</p>
        </caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Contents</th>
            {{!-- <th>Pass?</th> --}}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Telephone</th>
            <td>{{telephone}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Address</th>
            <td>{{address}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Business Hours</th>
            <td>{{hours}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Payment Methods</th>
            <td>{{payment}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Favicon</th>
            <td><a href="{{domain}}{{favicon}}" target="_blank">{{favicon}}</a></td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Area Served</th>
            <td>{{areaServed}}</td>
          </tr>
          <tr>
            <th>Video</th>
            <td><a href="{{video}}" target="_blank">{{video}}</a></td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Facebook</th>
            <td><a href="{{facebook}}" target="_blank">{{facebook}}</a></td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Google+</th>
            <td><a href="{{googlePlus}}" target="_blank">{{googlePlus}}</a></td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Image src tag <span>*</span></th>
            <td><a href="{{domain}}{{srcTag}}" target="_blank">{{srcTag}}</a></td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Image alt tag <span>*</span></th>
            <td>{{altTag}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
           <tr>
            <th>H1 tag</th>
            <td>{{header}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Title tag</th>
            <td>{{title}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Meta Description</th>
            <td>{{description}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Meta Keywords</th>
            <td>{{keywords}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Google Analytics <span>*<span></th>
            <td>{{ganalytics}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Google Web Master Tools</th>
            <td>{{gwebmaster}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
        </tbody>
      </table>      
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>
  </div>
</div>

