
<div id="description" class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Quality Control Check for:</h1>
      <h2 class="text-muted">{{domain}}</h2>
    </div>
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
<div id="output" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="test_output">
      <p class="text-danger">Image source tag and alt tag only prints out one image on the page. May still have to check the document manually. Will be fixed soon&trade;.</p>
      <p class="text-primary">Address and Telephone checks the contents of the classes .address and .telephone.</p>
      <table class="table table-bordered">
        <caption>Check this information for quality.</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Contents</th>
            {{!-- <th>Pass?</th> --}}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Title tag</th>
            <td>{{title}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Meta Description</th>
            <td>{{description}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Meta Keywords</th>
            <td>{{keywords}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Favicon path</th>
            <td>{{favicon}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>H1 tag(s)</th>
            <td>{{header}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Image src tag</th>
            <td>{{srcTag}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Image alt tag</th>
            <td>{{altTag}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Address</th>
            <td>{{address}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Telephone</th>
            <td>{{telephone}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
        </tbody>
      </table>

      
    </div>
  </div><!-- /.col-md-6 .col-md-offset-3 -->
</div><!-- /.row -->

