
<div id="description" class="row">
  <div class="col-md-5">
    <div class="page-header first">
      <h1>Quality Control Test for:</h1>
      <h2 class="text-muted"><a href="{{domain}}" target="_blank">{{domain}}</a></h2>
    </div>
  </div>
  <div class="col-md-5">
    <div class="page-header last">
      <p>Type a URL in the input field below and click "Go!".</p>
      <p class="information">Information: Must have "http://" in front of URL.</p>
      <form action="/process?form=the_test" method="POST">
        <div class="input-group">
          <input type="hidden" name="_csrf" value="{{csrf}}">
          <input type="url" name="domain" class="form-control" placeholder="Quality control this...">
          <span class="input-group-btn">
            <input type="submit" value="Go!" class="btn btn-default">
          </span>
        </div>
      </form>
    </div>
  </div>
</div><!-- /.row -->
<div id="output" class="row">
  <div class="col-md-8">
    <div class="test_output">
      <table class="table table-bordered">
        <caption>Check this information for quality.</caption>
        <thead>
          <tr>
            <th>Element</th>
            <th>Contents</th>
            {{!-- <th>Pass?</th> --}}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Title tag</th>
            <td>{{title}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Meta Description</th>
            <td>{{description}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Meta Keywords</th>
            <td>{{keywords}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Favicon</th>
            <td><a href="{{domain}}{{favicon}}" target="_blank">{{favicon}}</a></td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>H1 tag(s)</th>
            <td>{{header}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Image src tag *</th>
            <td><a href="{{domain}}{{srcTag}}" target="_blank">{{srcTag}}</a></td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Image alt tag *</th>
            <td>{{altTag}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          
          <tr>
            <th>Google Web Master Tools</th>
            <td>{{gwebmaster}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Google Analytics *</th>
            <td>{{ganalytics}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Address</th>
            <td>{{address}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Telephone</th>
            <td>{{telephone}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Business Hours</th>
            <td>{{hours}}</td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
          <tr>
            <th>Video</th>
            <td><a href="{{video}}" target="_blank">{{video}}</a></td>
            {{!-- <td>&#10003;</td> --}}
          </tr>
        </tbody>
      </table>      
    </div>
  </div><!-- /.col-md-6-->
  <div class="col-md-4">
    <div class="row">
        <div class="col-md-12">
          <p class="information"><span>Information:</span> If the Contents field is blank, the Element is missing.</p>
          <p class="information"><span>Information:</span> Address, Telephone, Business hours and Video checks the contents of the classes .address, .telephone, .hours and .video respectively.</p>
        </div>
        <div class="col-md-12">
          <p class="tip"><span>Tip:</span> Use <a href="https://addons.mozilla.org/en-US/firefox/addon/popup-alt-attribute/" target="_blank">Popup ALT Attribute</a> to easily view image alt attributes when quality control testing websites manually.</p>
          <p class="tip"><span>Tip:</span> Try <a href="http://typosaur.us/" target="_blank">Typosaurus</a> for spell checking until I figure it out.</p>
        </div>
        <div class="col-md-12">
          <p class="attention"><span>*Attention:</span> Image source tag and alt tag only prints out one image on the page. May still have to check the document manually. Will be fixed soon&trade;.</p>
          <p class="attention"><span>*Attention:</span> The Google Analytics grabber is shaky. If the output is not "/google_analytics_auto.js", check document manually.</p>
        </div>
      </div>
  </div>
</div><!-- /.row -->

